@import "../Variables/Variables.scss";

.home {
  background-color: $blue;
  width: full;
  height: 400px;
  color: $white;
  padding: 10px;
  font-family: $bodyFont;

  .btn-white {
    @include whiteButton();
  }

  .btn-green {
    @include greenButton();
  }

  .btn-red {
    @include redButton();
  }
}
